/* NAVBAR */
/* ------------------------------------------ */

.navbar {
  background: var(--soft-blue);
  padding: 1em;
  padding-right: 2em;
  padding-left: 2em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-item {
  font-family: "Luckiest Guy", cursive;
  font-weight: 800;
  font-size: 3em;
  color: #454545;
  /* text-shadow: 2px 2px 1px black; */
}

.nav-user {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-user:hover {
  background: #f0f0f0;
}

.nav-user-username {
  margin-right: 0.5em;
}

.nav-user-pic {
  margin-right: 10px;
}
