code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/* PRE-SETS */
/* ------------------------------------------ */
:root {
  --soft-blue: #a9d9e9;
  --soft-pink: #f09d97;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  color: #454545;
  font-family: "Noto Sans JP", sans-serif;
}

button:hover {
  cursor: pointer;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  background-color: #fff;
}
